.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
}

.login .top{
    margin: 0 auto;
}

.login .top .wrapper{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login .top .wrapper .logoContainer{
    background-color: white;
    border-radius: 12px;
    margin-right: 10px;
}

.login .container{
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.login .container form{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login .container form input{
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
    padding-left: 10px;
}

.login .container form button{
    height: 40px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.login .container form span{
    color: lightgray;

}

.login .container form span strong{
    color: white;
    cursor: pointer;
}

.login .footer{
    margin: 0 auto 18px;
}

.login .footer a{
    color: dimgray;
    font-weight: 600;
    text-decoration: none;
}

.login .footer a:hover{
    color: white;
    text-decoration: underline;
}

@media (max-width: 500px){
    .login .container form{
        width: 70vw;
        height: 50vh;
    }
}